button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 8px;
    margin: 8px;
}

button:active {
    background-color: red;
}

button:hover {
    background-color: lightskyblue;
}

#main_div {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(158, 155, 155);
    display: flex;
}